<mat-toolbar color="primary">
  <mat-icon>headphones</mat-icon>
  <span>Spuchifai</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/playlist/playlist-list"
  >
    Playlists
  </button>
  <button mat-button routerLink="/playlist/playlist-search"
  >
  <mat-icon>search</mat-icon>
    Buscar playlist
  </button>
  <button mat-button routerLink="/playlist/playlist-add"
  >
  <mat-icon>playlist_add</mat-icon>
    Nueva playlist
  </button>
  <button mat-button routerLink="/playlist/playlist-add"
  >
  <mat-icon>note_add</mat-icon>
    Nueva canción
  </button>
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<div class="mx-5 my-5 margin-auto">
    <router-outlet></router-outlet>
</div>
