<mat-toolbar class="bg-dark text-white">
  <mat-icon class="text-success">headphones</mat-icon>
  <span class="text-success">Spuchifai</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/playlist/playlist-list">
    <mat-icon>list</mat-icon>
    Playlists
  </button>
  <button mat-button routerLink="/playlist/playlist-search">
    <mat-icon>search</mat-icon>
    Buscar playlist
  </button>
  <button mat-button  routerLink="/playlist/playlist-add">
    <mat-icon>playlist_add</mat-icon>
    Nueva playlist
  </button>
  <span class="spacer"></span>
  <span class="text-warning">{{ this.auth.usuario }}</span>
  <button
    mat-icon-button
    matTooltip="Cerrar sesión"
    aria-label="Example icon-button with share icon"
    (click)="logout()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<div class="mx-5 my-5 margin-auto">
  <router-outlet></router-outlet>
</div>
